@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import "reset.css";

body {
  font-family: "Noto Sans KR", sans-serif;
}

/* start-page 시작 */

.start-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #131721;
}

.headline-second {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.title {
  font-size: 100px;
  font-weight: 700;
}

.sub-title {
  font-size: 44px;
  font-weight: 500;
  margin-top: 20px;
  padding-top: 10px;
  border-top: 4px solid #8e8e94;
  color: #8e8e94;
}

.nemo {
  width: 20rem;
  height: 8rem;
  border: 17px solid #8e8e94;
  margin: 0 20px;
}
.nemo:hover {
  border: 17px solid #1a2a6c;
}

.dev {
  margin-bottom: 10px;
  font-weight: 900;
}

/* nav 시작 */
.nav {
  position: fixed;
  z-index: 3;
  top: 0px;
  right: 0px;
  width: 100px;
  height: 100vh;
  padding: 100px 0;

  font-size: 18px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 5px 15px rgb(0 0 0 / 20%);
  display: flex;
  justify-content: center;
}

.nav-name {
  width: 100px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  padding: 20px 0;
  color: #8e8e94;
}

.nav-line {
  height: 0;
  width: 65px;
  border: 2px solid #1a2a6c;
  margin-top: 10px;
}

.nav-pt {
  width: 100px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  color: #8e8e94;
}
.nav-name:hover {
  color: #1a2a6c;
  font-weight: 500;
}
.nav-pt:hover {
  color: #1a2a6c;
  font-weight: 700;
}

/* contents 시작 */

.contents {
  height: 100vh;
  background-color: #dfe6ee;
}

.image {
  position: relative;
}

img {
  width: 100%;
  height: 80vh;
  object-fit: cover;
}

.image-text {
  position: absolute;
  top: 50%;
  width: 100%;
}

.image-text p {
  text-align: center;
  color: white;
  font-size: 50px;
  font-weight: 500;
  line-height: 120%;
  text-shadow: 0 5px 15px rgb(0 0 0 / 100%);
}

.image-text span {
  text-align: center;
  color: white;
  font-size: 25px;
  font-weight: 300;
  line-height: 120%;
  text-shadow: 0 5px 15px rgb(0 0 0 / 100%);
}

.text {
  padding-top: 10px;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 3rem;
  font-size: 60px;
  font-weight: 900;
  text-align: center;
  line-height: 120%;
  color: #8e8e94;
}

.text p:hover {
  color: #1a2a6c;
}

.end-page {
  background-color: white;
  height: 200vh;
}

.end-title {
  line-height: 120%;
}

input {
  width: 55rem;
  height: 8rem;
  border: 17px solid #1a2a6c;
  font-size: 4rem;
  font-weight: 400;
}

ul {
  font-size: 3rem;
  font-weight: 400;
  line-height: 120%;
}

button {
  background-color: white;
  border: none;
  font-size: 2rem;
  font-weight: 400;
}

/* nav + */

.nemo {
  animation-duration: 1s;
  animation-name: open;
}

@keyframes open {
  from {
    width: 0%;
  }
  to {
    padding-left: 0%;
    width: 33.5%;
  }
}

/* 미디어쿼리 */

@media screen and (max-width: 65rem) /* 0~48rem 일 때 라는 뜻 */ {
  .image-text p {
    font-size: 2rem;
  }
  .image-text span {
    font-size: 1rem;
  }
  .text {
    font-size: 1.7rem;
  }

  .title {
    font-size: 3rem;
    height: 2rem;
  }
  .sub-title {
    font-size: 1.1rem;
  }
  .nemo {
    width: 5rem;
    height: 3.5rem;
    border: 0.5rem solid #8e8e94;
    margin: 0.7rem 0.3rem 0 0.3rem;
  }
  .nemo:hover {
    border: 0.5rem solid #1a2a6c;
  }

  input {
    width: 30rem;
    height: 6rem;
    font-size: 2.3rem;
    font-weight: 500;
    border: 12px solid #1a2a6c;
  }
  ul {
    font-size: 2rem;
  }
  button {
    background-color: white;
    border: none;
    font-size: 1.5rem;
    font-weight: 400;
  }
  .nemo {
    animation-duration: 1s;
    animation-name: open;
  }

  @keyframes open {
    from {
      width: 0%;
    }
    to {
      padding-left: 0%;
      width: 21%;
    }
  }
}

